NEXT_PUBLIC_APP_ENV=dev
NEXT_PUBLIC_BALANCER_API_URL=https://api-v3.balancer.fi/graphql
NEXT_PUBLIC_WALLET_CONNECT_ID=1b6b722470b504a53cf011e1e629a9eb

# For wallet checks (optional)
PRIVATE_HYPERNATIVE_API_ID=xxx
PRIVATE_HYPERNATIVE_API_SECRET=xxx

# For fiat currency conversions (optional)
PRIVATE_CURRENCYAPI_KEY=xxx

# For integration tests and rpc proxy routes (optional)
NEXT_PRIVATE_DRPC_KEY=xxx

# Allow skip transaction (optional)
NEXT_PUBLIC_ALLOW_SKIP_TRANSACTION=true
